# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
# These environment variables must be set in CircleCI UI
#
# DOCKERHUB_REPO - docker hub repo, format: <username>/<repo>
# DOCKER_EMAIL   - login info for docker hub
# DOCKER_USER
# DOCKER_PASS

version: 2.1

commands:
  # Only used for local jobs docker execution
  setup_local_docker:
    steps:
      - run:
          name: Use sudo docker in local builds
          command: |
            if [[ $CIRCLE_SHELL_ENV == *"localbuild"* ]]; then
              sudo chmod u+s $(which docker)
            fi

jobs:
  full:
    docker:
      - image: cimg/base:stable
    steps:
      - setup_remote_docker
      - setup_local_docker
      - checkout
      - run:
          name: Install invoke
          command: |
            sudo apt-get update && \
            sudo apt-get install -y python3-pip && \
            pip install invoke
      - run:
          name: Create version.json
          command: |
            invoke version > version.json && \
            mkdir /tmp/artifacts && \
            cp version.json /tmp/artifacts/version.json
      - run: invoke build
      - run: invoke buildtest
      - run: invoke test
      - run: docker inspect $(invoke imageid)
      - run: invoke imageid | tee /tmp/artifacts/docker-image-shasum256.txt
      - store_artifacts:
          path: /tmp/artifacts
      - run:
          name: Deploy to docker hub
          command: |
            [[ -n "$DOCKERHUB_REPO" && -n "$DOCKER_USER" && -n "$DOCKER_PASS" ]] || exit 0
            docker tag "$DOCKERHUB_REPO" "$DOCKERHUB_REPO:$CIRCLE_SHA1"
            docker push "$DOCKERHUB_REPO:$CIRCLE_SHA1"
            if [[ "$CIRCLE_BRANCH" == "master" ]]; then
              docker push "$DOCKERHUB_REPO:latest"
            else
              docker tag "$DOCKERHUB_REPO" "$DOCKERHUB_REPO:$CIRCLE_BRANCH"
              docker push "$DOCKERHUB_REPO:$CIRCLE_BRANCH"
            fi

workflows:
  main:
    jobs:
      - full
